# Unix
alias ln="ln -v"
alias mkdir="mkdir -p"

# homebrew - Mac
alias bru="brew update && brew upgrade && brew autoremove && brew cleanup && brew doctor"
alias bcu="brew cu"

# vim mimic
alias :q="exit"
alias :qq="rm -Rfr ~/.zsh_history && :q"

# zsh profile editing
alias ze='code ~/.zshrc'

# zsh shell reset
alias sz='source ~/.zshrc'

# shortcuts
alias rsl='defaults write com.apple.dock ResetLaunchPad -bool true && killall Dock'
alias ls='exa'
alias nvmup="nvm install --lts --latest-npm --reinstall-packages-from='lts/*'"

#flushdns
alias flushdns='sudo killall -HUP mDNSResponder'
