.config/evince/
.config/libreoffice/
.config/vlc/
.hplip/
.bash_profile
.config/.gsd-keyboard.settings-ported
.config/dleyna-renderer-service.conf
.config/gtk-4.0/
.config/monitors.xml~
.android/
anaconda3/
.bash_history
.bash_logout
.bashrc
.cache/
.cargo/
.config/1Password/
.config/BraveSoftware/
.config/Code/
.config/GitKraken/
.config/QtProject.conf
.config/TabNine/
.config/Unreal\ Engine/
.config/calibre/
.config/chromium/
.config/dconf/
.config/enchant/
.config/evolution/
.config/exercism/
.config/font-manager/
.config/gedit/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/google-chrome-beta/
.config/google-chrome-unstable/
.config/google-chrome/
.config/gtk-3.0/bookmarks/
.config/ibus/
.config/iterm2
.config/microsoft-edge-dev/
.config/mimeapps.list
.config/monitors.xml
.config/mpv/shaders/cache/
.config/nautilus/
.config/pop-shell/
.config/pulse/
.config/qBittorrent/
.config/raycast/
.config/torbrowser/
.config/totem/
.config/touchegg/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vivaldi-snapshot/
.config/vivaldi/
.config/yelp/
.cups/
.filebot/
.gitkraken/
.gnupg/
.haxelib
.histfile
.local/
.mono/
.mozilla/
.npm/
.nuget/
.nvidia-settings-rc
.pki/
.profile
.rustup/
.ssh/
.subversion/
.sudo_as_admin_successful
.swiftpm/
.terminfo/
.themes/
.thumbnails
.viminfo
.volta
.vscode-server-server/
.vscode-server/
.vscode/
.vsts/
.wget-hsts
.z
.zcompdump
.zsh_history
.zshenv
Applications/
BlenderProject
Desktop/
Comics/
Developer/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Tresorit/
Tresors/
scripts/
.Xauthority
.cinnamon/
.config/autostart/
.config/caja/
.config/gtk-3.0/
.config/hexchat/
.config/menus/
.config/nemo/
.config/qt5ct/
.config/simple-scan/
.dmrc
.face
.gtkrc-2.0
.gtkrc-xfce
.icons/
.linuxmint/
.nv/
.xinputrc
.xsession-errors
.xsession-errors.old
.config/plank/
.config/xed/
.config/blender/
.config/sticky/
.config/warpinator/
.config/nordvpn/nordvpn.conf
