.DS_Store
.Trash/
.android/
.bash_history
.bash_logout
.bashrc
.cache/calibre/
.cache/com.system76.FirmwareManager/
.cache/dconf/
.cache/epiphany/
.cache/event-sound-cache.tdb.311eec275782ef15dcaaa7e360f2fd28.x86_64-pc-linux-gnu
.cache/font-manager/
.cache/fontconfig/
.cache/fwupd-client/
.cache/google-chrome/
.cache/gstreamer-1.0/
.cache/ibus/
.cache/io.elementary.appcenter/
.cache/mesa_shader_cache/
.cache/mozilla/
.cache/nix/
.cache/pop-app-folders
.cache/pop-flatpak-repos
.cache/rofi-3.runcache
.cache/starship
.cache/thumbnails/
.cache/torbrowser/
.cache/tracker/
.cache/typescript/
.cache/vmware/
.cache/wal/schemes/
.cache/wallpaper/
.cargo/
.config/1Password/
.config/BraveSoftware/
.config/Code/
.config/QtProject.conf
.config/TabNine/
.config/Unreal\ Engine/
.config/calibre/
.config/chromium/
.config/dconf/
.config/enchant/
.config/evolution/
.config/font-manager/
.config/gedit/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/google-chrome-beta/
.config/google-chrome-unstable/
.config/google-chrome/
.config/ibus/
.config/iterm2
.config/microsoft-edge-dev/
.config/mimeapps.list
.config/mpv/shaders/cache/
.config/nautilus/
.config/pop-shell/
.config/pulse/
.config/qBittorrent/
.config/torbrowser/
.config/touchegg/
.config/vivaldi-snapshot/
.config/vivaldi/
.cups/
.filebot/
.haxelib
.histfile
.local/
.mono/
.mozilla/
.npm/
.nuget/
.pki/
.profile
.rustup/
.ssh/
.subversion/
.sudo_as_admin_successful
.swiftpm/
.terminfo/
.themes/
.viminfo
.vscode-server/
.vscode/
.vsts/
.wget-hsts
.z
.zcompdump
.zsh_history
Applications/
Desktop/
Developer/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Tresorit/
Tresors/
scripts/
BlenderProject
.thumbnails