.DS_Store
.cache/
.cargo/
.config/iterm2
.config/qBittorrent/
.cups/
.dotfiles/
.haxelib
.npm/
.nvm/
.rustup/
.ssh/
.vscode/
.zsh_history
Applications/
Desktop/
Developer/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Tresors/