# This is Git's per-user configuration file.
[user]
	name = Kishan
	email = k@kishan.sh
[core]
	excludesfile = /Users/kishan/.gitignore_global
[commit]
	template = /Users/kishan/.stCommitMsg
[init]
	defaultBranch = main
[pull]
	rebase = false
[status]
	submoduleSummary = true
[diff]
	submodule = log
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
